<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>

</head>
<body>



<p><b>Bus Information Schemas</b> </p>

<table border="1">
  <tr>
    <th>Schema</th>
    <th>url</th>
  </tr>
  <tr>
    <td>Bus Estimation</td>
    <td><a href="schemas/BusEstimation.json">Bus Estimation schema</a></td>
  </tr>
  <tr>
    <td>BusStop</td>
    <td><a href="schemas/BusStop.json">Bus Stop schema</a></td>
  </tr>
   <tr>
    <td>schemas/BusLine.json</td>
    <td><a href="schemas/BusLine.json">Bus Line schema</a></td>
  </tr>
</table>


<br></br>
<br></br>
<br></br>
<br></br>
<br></br>


<p><b>Bus Information Instances</b> </p>


<table border="1">
  <tr>
    <th>Instances</th>
    <th>url</th>
  </tr>
  <tr>
    <td>Bus Estimation</td>
    <td><a href="instances/BusEstimation.json">Bus Estimation instances</a></td>
  </tr>
  <tr>
    <td>BusStop</td>
    <td><a href="instances/BusStop.json">Bus Stop instances</a></td>
  </tr>
   <tr>
    <td>schemas/BusLine.json</td>
    <td><a href="instances/BusLine.json">Bus Line instances</a></td>
  </tr>
</table>

</body>
</html>